div.komentarM
{
	background: #3DB8B8;
	border-style: solid;
	border-width: 2px;
	margin: 5px;
	padding: 5px;
	text-align: left;
}

div.komentarZ
{
	background: #FF14FF;
	border-style: solid;
	border-width: 2px;
	margin: 5px;
	padding: 5px;
	text-align: left;
}

span.ime
{
	font-weight: bold;
	color: #000099;
}

span.ocena
{
	font-weight: bold;
	color: #000099;
}

input.brisi
{
	float: right;
	background: #CC0000;
	color: white;
	font-weight: bold;
}


.vest{

	border-radius:30px;
	border-width:thick;
	border-color:#80aaff;
	border-style: solid;

	background-color: #6699ff;
	width:50%;
	margin-left: 25%;
	margin-bottom:2%;
	margin-right: 25%;
	float: centre;
  padding: 1%;
}

.dugme{
  border-width: 5px;
  border-color: #4d88ff;
	border-radius: 5px;
	border-style: solid;

	background-color:#e5f7ff;
	width:20%;
  margin-left:40%;
	margin-right:40%;

}

.dugme a {
	text-decoration:none;
}

.naslovVesti, .sTekst, .imeAutora{
  border-radius:15px;
	border-style: solid;
	border-width:thick;
	border-color:#80aaff;

}

.sTekst, .naslovVesti{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

.sTekst {
	height:auto;
}

.imeAutora{
	width:40%;
  margin-left:30%;
  margin-right:30%;

}

.komentar{
	border-radius:30px;
	border-width:thick;
	border-color: #00b386;
	border-style: solid;

	background-color: #00e6ac;
	width:40%;
	margin-left: 25%;
	margin-bottom:1%;
	margin-right: 35%;
	float: centre;
  padding: 1%;
	text-align: center
}

.imeAutoraKomentara, .tekstKomentara{
	width:40%;
  margin-left:30%;
  margin-right:30%;

	border-radius:15px;
	border-style: solid;
	border-width:thick;
	border-color: #00b386;

}

.forma{
	border-radius:30px;
	border-width:thick;
	border-color: #00b386;
	border-style: solid;

	background-color: #00e6ac;

	text-align:center;
	width:40%;
	margin-left:25%;
	margin-right:35%;
	margin-bottom:1%;
	padding:1%;
}

.forma input{
  width:40%;

}

#tekstPolje {
	width:70%;


}

#submitDugme{
	width:28%;
	background-color: #00b386;
	border-style: solid;
	border-color: #00e6ac;
	border-radius: 5px;
	color: white;
}

#linkIspodForme{
	text-align:center;

	border-radius:30px;
	border-width:thick;
	border-color: #00b386;
	border-style: solid;

	background-color: #00e6ac;

	width: 40%;
	margin-left:25%;
	margin-right:35%;

	padding:1%;


}

#linkIspodForme a {
	color:white;

	text-decoration: none;
}
